#
*.[oa]
*~
gama-*.*.tar.gz
#
aclocal.m4
autom4te.cache/
#
Makefile
config.h
config.log
config.status
doc/Makefile
gama-g3/.deps/
gama-g3/Makefile
gama-local/.deps/
gama-local/Makefile
lib/.deps/
lib/Makefile
scripts/.deps/
scripts/Makefile
stamp-h1
xml/Makefile
#
doc/gama.info
doc/stamp-vti
doc/manual/
#
bin/.deps
bin/gama-g3
bin/gama-local
bin/gama-local-xml2txt
scripts/ellipsoids_xml
scripts/gnu_gama_dep
scripts/slovnikar

