#
*.[oa]
*~
\#*\#
gama-*.*.tar.gz
*.gkf
#
aclocal.m4
autom4te.cache/
#
.deps
INSTALL
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
configure
stamp-h1
scripts/config.aux/
#
tests/gama-local/gama-local-adjustment
tests/gama-local/gama-local-algorithms
tests/gama-local/gama-local-equivalents
tests/gama-local/gama-local-html
tests/gama-local/gama-local-version
tests/gama-local/gama-local-xml-results
tests/gama-local/gama-local-xml-xml
tests/gama-local/scripts/check_algorithms
tests/gama-local/scripts/check_equivalents
tests/gama-local/scripts/check_html
tests/gama-local/scripts/check_xml_results
tests/gama-local/scripts/check_xml_xml
tests/gama-local/scripts/check_xml_coordinates
#
doc/version.texi
doc/gama.html
doc/gama.info
doc/stamp-vti
doc/manual/
doc/gendocs*
doc/gama.aux
doc/gama.cp
doc/gama.cps
doc/gama.fn
doc/gama.ky
doc/gama.log
doc/gama.pg
doc/gama.toc
doc/gama.tp
doc/gama.vr
#
bin/gama-g3
bin/gama-local
bin/gama-local-xml2txt
bin/gama-local-xml2sql
scripts/ellipsoids_xml
scripts/gnu_gama_dep
scripts/slovnikar
#
# doxygen
html
latex
#
lib/gnu_gama/local/language.html
