#
*.[oa]
*~
gama-*.*.tar.gz
#
aclocal.m4
autom4te.cache/
#
.deps
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
configure
stamp-h1
#
doc/gama.info
doc/stamp-vti
doc/manual/
#
bin/gama-g3
bin/gama-local
bin/gama-local-xml2txt
scripts/ellipsoids_xml
scripts/gnu_gama_dep
scripts/slovnikar

